<!DOCTYPE html>
<html>
<head>
    <title>Log in</title>
    <link rel="stylesheet" href="C:\Users\Lenovo\Desktop\site\loginstyle.css">

</head>
<body>
  <div id="app">
    <div class="login-container">
      <h1>Log in</h1>
    <form @submit.prevent="login">
      <label for="username">Username:</label>
      <input type="text" id="username" v-model="username" required>
      <br>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password" required>
      <br>
      <br>
      <button type="submit" class="login-button">Login</button>
    </form>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="app.js"></script> 
</body>
</html>
